<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1 class="title">GET IN TOUCH</h1>

          <br /><br />

          <p class="info">
            <img src="assets/img/address.png" alt="address" width="25px" />
            Address : Hinjawadi Phase I, Pune, Maharashtra - 411057
          </p>

          <p class="info">
            <img src="assets/img/contact.png" alt="contact" width="20px" />
            Contact No. : +919870743XXX
          </p>

          <p class="info">
            <img src="assets/img/email.png" alt="email" width="20px" /> Email :
            guestmate@gmail.com
          </p>

          <p class="info">
            <img src="assets/img/website.png" alt="website" width="20px" />
            Website : www.guestmate.com
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
